---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
	{
		date: 'Actualmente...',
		title: 'FrontEnd Developer - Freelancer',
		link: true,
		description:
			'Creación y Mantenimiento de Single Web Aplicactions utilizando frameworks como React, Vue, Angular y Multiple Web Aplicactions utilizando frameworks como Next JS.',
	},
	{
		title: 'Desarrallor Web - BACROS',
		date: 'Dic 2019 - Jul 2021',
		description:
			'Responsable del sitio web de la empresa, creación de nuevas funcionalidades, mantenimiento y actualización de la plataforma.',
	},
];
---

<ol class='relative border-s border-gray-200 ml-3'>
	{
		EXPERIENCE.map(({ title, description, date, ...rest }) => (
			<li class='mb-10 ms-4'>
				<ExperienceItem title={title} description={description} date={date}  {...rest}/>
			</li>
		))
	}
</ol>
