<header class='flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto sticky top-0 z-10'>
	<nav class='flex flex-row border border-black rounded-full px-3 py-1 bg-black/50 backdrop-blur-2xl'>
		<a class='hover:bg-white/10 active:bg-white/20 rounded-full px-3 transition' href='#experience'>Experiencia</a>
		<a class='hover:bg-white/10 active:bg-white/20 rounded-full px-3 transition' href='#about'>Sobre mí</a>
		<a class='hover:bg-white/10 active:bg-white/20 rounded-full px-3 transition' href='#projects'>Proyectos</a>
		<a class='hover:bg-white/10 active:bg-white/20 rounded-full px-3 transition' href='#contact'>Contácto</a>
	</nav>
</header>
