---
import { TAGS } from './Projects.astro';

const skills = Object.keys(TAGS).map((key) => ({
    name: key,
    class: TAGS[key].class,
    icon: TAGS[key].icon
}));
---

<article class='flex gap-2 flex-wrap'>
	{
		skills.map((tag) => (
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                <tag.icon class='size-4' />
                {tag.name}
            </span>
		))
	}
</article>
